/* You can add global styles to this file, and also import other style files */


.myInlineDecoration {
	// color: red !important;
	// cursor: pointer;
	// text-decoration: underline;
	// font-weight: bold;
    // font-style: oblique;
    font-size: 15px;
}

.my-line-decoration {
	background: #add6ff;
    width: 4px !important;
	margin-left: 2px;
}